In [23]:
from transformers import AutoTokenizer, AutoModelForSequenceClassification
import torch
import requests
from bs4 import BeautifulSoup
import re
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import matplotlib.dates as mdates
from gensim.parsing.preprocessing import remove_stopwords, strip_numeric, strip_punctuation, strip_multiple_whitespaces, strip_short
from sklearn.metrics import confusion_matrix

# Load model

In [9]:
# https://huggingface.co/nlptown/bert-base-multilingual-uncased-sentiment
tokenizer = AutoTokenizer.from_pretrained('nlptown/bert-base-multilingual-uncased-sentiment')

model = AutoModelForSequenceClassification.from_pretrained('nlptown/bert-base-multilingual-uncased-sentiment')

# Load data clean

In [10]:
# Load the CSV file into a DataFrame
df_de = pd.read_csv('../Preprocessing/data_clean/labeled-data/labeled-de_clean_1-1.csv',sep = ';')
#df_en = pd.read_csv('../Preprocessing/data_clean/en_clean_1.csv')
df_en = pd.read_csv('../Preprocessing/data_clean/labeled-data/labeled-en_clean_1-1_not101010.csv')
#df_es = pd.read_csv('../Preprocessing/data_clean/en_clean_1.csv')
df_es = pd.read_csv('../Preprocessing/data_clean/labeled-data/labeled-es_clean_1-1.csv', sep = ';')

In [11]:
df_es['data'] = df_es['data'].apply(strip_punctuation)
df_es['data'] = df_es['data'].str.replace('xa', ' ')
df_es['data'] = df_es['data'].apply(strip_multiple_whitespaces)

df_de['data'] = df_de['data'].apply(strip_punctuation)
df_de['data'] = df_de['data'].apply(strip_multiple_whitespaces)

df_en['data'] = df_en['data'].apply(strip_punctuation)
df_en['data'] = df_en['data'].apply(strip_multiple_whitespaces)

# Sentiment Analysis

In [12]:
def sentiment_score(data):
    if isinstance(data, str):
        tokens = tokenizer.encode(data, return_tensors='pt')
        result = model(tokens)
        return int(torch.argmax(result.logits)) + 1
    else:
        return 0

In [13]:
df_de['sentiment'] = df_de['data'].apply(lambda x: sentiment_score(x[:512]))
df_en['sentiment'] = df_en['data'].apply(lambda x: sentiment_score(x[:512]))
df_es['sentiment'] = df_es['data'].apply(lambda x: sentiment_score(x[:512]))

### Translate scores to positive, neutral and negative

In [14]:
sentiment_mapping = {1: 'negativ', 2: 'neutral', 3: 'neutral', 4: 'neutral', 5: 'positiv'}

# Replace the numbers with labels using the mapping
df_de['sentiment'] = df_de['sentiment'].map(sentiment_mapping)
df_en['sentiment'] = df_en['sentiment'].map(sentiment_mapping)
df_es['sentiment'] = df_es['sentiment'].map(sentiment_mapping)

### Drop unlabeled rows

In [15]:
# Drop rows where 'Label' is NaN or empty
df_de.dropna(subset=['Label'], inplace=True)
df_en.dropna(subset=['Label'], inplace=True)
df_es.dropna(subset=['Label'], inplace=True)

# Print the updated DataFrame
print(df_de)

                                                  data    player language  \
14   zweimal verwandelte palacios es wurde ein uber...  palacios       de
23   schalke reis nimmt den spieler ausdrucklich in...  palacios       de
31   palacios r verletzte sich leicht im hinspiel g...  palacios       de
41    auf jeden fall sei das ein ganz grosser tag s...  palacios       de
58   beim abschlusstraining trug letzterer zumindes...  palacios       de
63   bayerleverkusen argentinischer weltmeister pal...  palacios       de
83    es gibt im moment nicht viel besseres in der ...  frimpong       de
93   der fc bayern munchen interessiert sich nach i...  frimpong       de
95   frimpong hat noch bis vertrag in bayerleverkus...  frimpong       de
102  hincapie l und tah bedanken sich fur die fan u...  frimpong       de
120  diaby wirtz adam hlozek und frimpong teilten s...  frimpong       de
123   bayerleverkusen torschutze amiri rechts und f...  frimpong       de
124  frimpong bekommt gluckwunsche seines trainers ...  frimpong       de
130  selbst als stammkraft frimpong in den vergange...  frimpong       de
163  ohne hincapie und tah mussten wir entscheiden ...       tah       de
173  schalke wiederum hatte durch michael frey ein ...       tah       de
180   bayerleverkusen coach alonso rotierte im verg...       tah       de
199  alonso stolz werkself seit spielen ungeschlage...       tah       de
214  torwart lukas hradecky bewahrte bayerleverkuse...       tah       de
223  zudem drohen sowohl bakker xaals auch weltmeis...    bakker       de
258  torschutzen unter sich diaby links treffer zum...    bakker       de
273                 beim hatte mitchell bakker gepatzt    bakker       de
334                        minute uber wirtz und diaby     diaby       de
355  das team wird zudem von den beiden bayerleverk...     diaby       de
361  frimpong wirkt uberspielt und diaby bewegte si...     diaby       de
362  torwart lukas hradecky bewahrte bayerleverkuse...     diaby       de
383  zu sehen ist davon wenig und das liegt nicht n...    mudryk       de
413  hincapie von fussball bundesligist bayerleverk...  hincapie       de
433  bayerleverkusen torwart lukas hradecky sitzt f...  hincapie       de
436  in der funften minute der nachspielzeit sah ba...  hincapie       de

              publishedAt    Label sentiment
14   2023-03-19T20:01:45Z  positiv   neutral
23   2023-04-03T08:12:20Z  neutral   neutral
31   2023-04-17T06:50:19Z  neutral   neutral
41   2023-04-20T20:54:03Z  positiv   positiv
58   2023-05-17T11:20:50Z  neutral   neutral
63   2023-05-14T18:07:21Z  negativ   negativ
83   2023-03-31T07:59:57Z  positiv   neutral
93   2023-04-06T16:49:00Z  neutral   neutral
95   2023-04-07T07:42:27Z  neutral   neutral
102  2023-04-14T08:16:22Z  positiv   positiv
120  2023-04-21T10:02:05Z  neutral   positiv
123  2023-04-23T17:33:57Z  positiv   negativ
124  2023-04-23T18:00:31Z  positiv   neutral
130  2023-05-23T10:24:42Z  negativ   positiv
163  2023-02-27T15:54:01Z  neutral   neutral
173  2023-04-01T15:44:09Z  positiv   negativ
180  2023-04-16T19:29:40Z  neutral   neutral
199  2023-04-23T20:48:00Z  positiv   positiv
214  2023-05-11T23:42:49Z  positiv   positiv
223  2023-02-23T09:06:07Z  negativ   negativ
258  2023-04-20T21:15:24Z  positiv   negativ
273  2023-05-21T19:39:14Z  negativ   neutral
334  2023-04-29T15:37:30Z  neutral   negativ
355  2023-05-13T10:26:28Z  neutral   neutral
361  2023-05-12T09:44:10Z  negativ   neutral
362  2023-05-11T23:42:49Z  negativ   neutral
383  2023-04-19T06:10:46Z  negativ   neutral
413  2023-05-23T10:52:44Z  negativ   negativ
433  2023-02-17T17:14:46Z  negativ   negativ
436  2023-05-21T19:53:27Z  negativ   negativ

### Accuracy exact match positive, neutral and negative

In [16]:
# Calculate the accuracy
accuracy_de = (df_de['sentiment'] == df_de['Label']).mean() * 100
accuracy_en = (df_en['sentiment'] == df_en['Label']).mean() * 100
accuracy_es = (df_es['sentiment'] == df_es['Label']).mean() * 100

# Print the accuracy
print("Accuracy DE: {:.2f}%".format(accuracy_de))
print("Accuracy EN: {:.2f}%".format(accuracy_en))
print("Accuracy ES: {:.2f}%".format(accuracy_es))

Accuracy DE: 56.67%
Accuracy EN: 46.67%
Accuracy ES: 43.33%

In [28]:
def c_matrix(df):

    # Define the labels
    labels = ['positiv', 'neutral', 'negativ']

    # Create the confusion matrix
    cm = confusion_matrix(df['Label'], df['sentiment'], labels=labels)

    # Calculate True Positives (TP), True Negatives (TN), False Positives (FP), and False Negatives (FN) as percentages
    total = np.sum(cm)
    tp_percent = (np.diag(cm) / total) * 100
    tn_percent = ((total - (np.sum(cm, axis=0) + np.sum(cm, axis=1) - np.diag(cm))) / total) * 100
    fp_percent = (np.sum(cm, axis=0) - np.diag(cm)) / total * 100
    fn_percent = (np.sum(cm, axis=1) - np.diag(cm)) / total * 100

    # Display the confusion matrix and calculations as percentages
    confusion_df = pd.DataFrame(cm, index=labels, columns=labels)
    confusion_df['True Positives (%)'] = tp_percent
    confusion_df['True Negatives (%)'] = tn_percent
    confusion_df['False Positives (%)'] = fp_percent
    confusion_df['False Negatives (%)'] = fn_percent
    return confusion_df

In [29]:
de_matrix = c_matrix(df_de)
de_matrix

,positiv,neutral,negativ,True Positives (%),True Negatives (%),False Positives (%),False Negatives (%)
positiv,4,3,3,13.333333,60.000000,6.666667,20.000000
neutral,1,8,1,26.666667,43.333333,23.333333,6.666667
negativ,1,4,5,16.666667,53.333333,13.333333,16.666667

In [30]:
en_matrix = c_matrix(df_en)
en_matrix

,positiv,neutral,negativ,True Positives (%),True Negatives (%),False Positives (%),False Negatives (%)
positiv,2,5,6,6.666667,50.000000,6.666667,36.666667
neutral,2,8,3,26.666667,40.000000,16.666667,16.666667
negativ,0,0,4,13.333333,56.666667,30.000000,0.000000

In [31]:
es_matrix = c_matrix(df_es)
es_matrix

,positiv,neutral,negativ,True Positives (%),True Negatives (%),False Positives (%),False Negatives (%)
positiv,0,5,5,0.000000,66.666667,0.000000,33.333333
neutral,0,8,2,26.666667,33.333333,33.333333,6.666667
negativ,0,5,5,16.666667,43.333333,23.333333,16.666667

# Accuracy for data condensed

In [17]:
# Load the CSV file into a DataFrame
df_de_1 = pd.read_csv('../Preprocessing/data_clean/labeled-data/labeled-de_clean_condensed.csv',sep = ';')

In [18]:
df_de_1['sentiment'] = df_de_1['data'].apply(lambda x: sentiment_score(x[:512]))

In [19]:
sentiment_mapping = {1: 'negativ', 2: 'neutral', 3: 'neutral', 4: 'neutral', 5: 'positiv'}

# Replace the numbers with labels using the mapping
df_de_1['sentiment'] = df_de_1['sentiment'].map(sentiment_mapping)

In [20]:
# Drop rows where 'Label' is NaN or empty
df_de_1.dropna(subset=['Label'], inplace=True)

In [21]:
# Calculate the accuracy
accuracy = (df_de_1['sentiment'] == df_de_1['Label']).mean() * 100

# Print the accuracy
print("Accuracy: {:.2f}%".format(accuracy))

Accuracy: 46.67%